@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcomes Transcelerate...</h1>
    <p>Development with <a href="https://www.github.com">GitHub</a> platform eases building moderns apps using Open Source tools.</p>
    <img src="~/Images/GitHub.PNG" style="width:800px" />
</div>
